{% extends "layout.html" %} {% block body %}


<h2>Data Overview</h2>
<br>
<div class="float-md-left">
    <form action="/data" method="get" autocomplete="on">
        <label for="q">search filename:&ensp; </label>
        <input type="text" name="q" id="q" value="{{q}}">
        <input class="btn btn-default border border-dark" type="submit" value="search"> {{response}}
        <p style="color:red;">
            <br>{{message}}</p>
    </form>
</div>


<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
<table id="customers">
    <tr>
        <th>Filename</th>
        <th>Size (kB)</th>
        <th>Last update</th>
        <!-- <th>Delete</th> -->
    </tr>
    {% if files != None %}{% set sizeinkB = 0 %} {% for key, val in files.items() %} {% set sizeinkB = (val[0]/1000)|round|int %}
    <tr>
        <td>{{key}}</td>
        <td>{{sizeinkB}}</td>
        <td>{{val[1]}}</td>
        <!-- <td>
                <button type="button" class="btn btn-default border border-dark">Delete This!</button>
            </td> -->
    </tr>

    {% endfor %}
    {% endif %}
</table>

<br>
<div class='float-md-right col-md-6'>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="file">Data Files: &ensp;</label>
            <input name="file" type="file" multiple directory>
            <br>
            <label for="file2">Meta Files: &ensp;</label>
            <input name="file2" type="file" multiple directory>            
            <button id="upload-file-btn" class="btn border border-dark btn-default fload-sm-right" type="button">Upload</button>
        </fieldset>
    </form>
</div>
<button type="button" class="btn border border-dark btn-default float-sm-left" id="delete_button">Delete All</button>

<!-- https://gist.github.com/kholidfu/a9a0bdfac7b334a5a6b0 -->
<script type="text/javascript">
    $(function () {
        $("body").css("cursor", "default");
        $('#upload-file-btn').click(function () {
            $("html").css("cursor", "wait");
            var form_data = new FormData($('#upload-file, #upload-file2')[0]);
            console.log(form_data);
            $.ajax({
                type: 'POST',
                url: '/_upload_button',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    alert("upload finished!");
                    $("body").css("cursor", "default");
                    setTimeout(function(){window.location.href = "/data"}, 2000);
                },
            });
        });
    });

    $("#delete_button").click(function () {
        $.ajax({
            type: 'POST',
            url: "/_delete_button",
            data: {},
            dataType: "text",
            success: function () {
                alert("deleted index");
                setTimeout(function(){window.location.href = "/data"}, 2000);
            }
        });
    });

    // $("#upload-file-btn").click(function () {
    //     $("html").css("cursor", "progress");
    //     $.ajax({
    //         type: 'POST',
    //         url: "/_upload_button",
    //         data: {},
    //         dataType: "text",
    //         success: function () {
    //             alert("upload finished!");
    //             $("body").css("cursor", "default");
    //             setTimeout(function(){window.location.href = "/data"}, 1000)
    //         }
    //     });
    // });
</script> {% endblock %}