{% extends "layout.html" %}
{% block body %}
<h2>Data Overview</h2>
<br>
<div class="float-md-left">
<form action="/data" method="get" autocomplete="on">
    <label for="q">search filename: </label><input type="text" name ="q" id ="q" value="{{q}}">
    <input class="btn btn-default border border-dark" type="submit" value="search">    
    {{response}}
</form>
</div>
<div class="btn-group float-md-right" role="group">
    <button type="button" class="btn border border-dark btn-default" id='upload_button'>Upload</button>
    <button type="button" class="btn border border-dark btn-default">Delete All</button>
  </div>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
<table id="customers">
  <tr>
    <th>Filename</th>
    <th>Last update</th>
      <th>Delete</th>
  </tr>
    {% for key, val in files.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{val}}</td>
            <td>
                <button type="button" class="btn btn-default border border-dark">Delete This!</button>
            </td>
        </tr>

    {% endfor %}
</table>

<script>
$("#upload_button").click(function(){
    $.ajax({
      type: 'POST',
      url: "/_upload_button",
      data: {student_id: 1},
      dataType: "text",
      success: function(data){
                 alert("Deleted Student ID ");
               }
    });
});

$("#delete_button").click(function(){
    $.ajax({
      type: 'POST',
      url: "/_delete_button",
      data: {student_id: 1},
      dataType: "text",
      success: function(data){
                 alert("Deleted Student ID ");
               }
    });
});
</script>
{% endblock %}
