{% extends "layout.html" %}

{% block body %}
<h1>Home - Analytics - Visualization</h1>
<h1>Also: Best UX by far!</h1>
<p>Home - Analytics - Visualization</p>

<div class="chart"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>
    var data = {{ d3data | safe }}

    data.sort(function(x,y){
        return d3.descending(x.std_deviation / x.avg, y.std_deviation / y.avg)})

    var margin = {top: 120, right: 20, bottom: 200, left: 80},
        width = 1200 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var formatPercent = d3.format(".0%");

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.log()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        //.tickFormat(formatPercent);

    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return d.fname + ": " + d3.format(".4f")(d.std_deviation / d.avg);
      })

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.call(tip);

    data.forEach(function(d,i){
        x.domain(data.map(function(d) { return d.fname; }));
        y.domain([1e-6, d3.max(data, function(d) { return d.std_deviation / d.avg; })]);
    });

	  svg.append("g")
		  .attr("class", "axis axis--x")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis)
		  .selectAll("text")
				.style("text-anchor", "end")
				.attr("dx", "-.4em")
                .attr("dy", "-.3em")
				.attr("transform", "rotate(-90)");

  svg.append("g")
      .attr("class", "axis axis--y")
      .call(yAxis.ticks(5))

    svg.selectAll("rect")
        .data(data)
        .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return x(d.fname); })
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.std_deviation / d.avg); })
              .attr("height", function(d) { return height - y(d.std_deviation / d.avg); })
              .on('mouseover', tip.show)
              .on('mouseout', tip.hide)
              .on("click", function(d) {console.log("event = ", d.fname)})

    svg.append("text")
        .attr("x", 0)
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "left")
        .style("font-size", "16px")
        .style("font-weight", "bold")
        .text("Coefficient of variation");


//Plot counts
    var docnum = {{ docnum | safe }}

    var data2 = {{ d3data | safe }}

    data2.sort(function(x,y){
        return d3.descending(x.count, y.count)})

    var x2 = d3.scale.ordinal()
		.rangeRoundBands([0, width], .1);

	var y2 = d3.scale.linear()
		.range([height, 0]);

   var xAxis2 = d3.svg.axis()
        .scale(x2)
        .orient("bottom");

    var yAxis2 = d3.svg.axis()
        .scale(y2)
        .orient("left")
        .tickFormat(formatPercent);

    var svg2 = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var tip2 = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return d.fname + ": " + d3.format(".2f")(d.count / docnum);
      })

    svg2.call(tip2);

    data2.forEach(function(d,i){
        x2.domain(data2.map(function(d) { return d.fname; }));
        y2.domain([0, d3.max(data2, function(d) { return (d.count / docnum); })]);
    });

	  svg2.append("g")
		  .attr("class", "axis axis--x")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis2)
		  .selectAll("text")
				.style("text-anchor", "end")
				.attr("dx", "-.4em")
                .attr("dy", "-.3em")
				.attr("transform", "rotate(-90)");

  svg2.append("g")
      .attr("class", "axis axis--y")
      .call(yAxis2) //.ticks(5, "%"))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end");

    svg2.selectAll("rect")
        .data(data2)
        .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return x2(d.fname); })
              .attr("width", x2.rangeBand())
              .attr("y", function(d) { return y2(d.count / docnum); })
              .attr("height", function(d) { return height - y2(d.count / docnum); })
              .on('mouseover', tip2.show)
              .on('mouseout', tip2.hide)
              .on("click", function(d) {console.log("event = ", d.fname)})

    svg2.append("text")
        .attr("x",0)
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "left")
        .style("font-size", "16px")
        .style("font-weight", "bold")
        .text("Commonness of variable ");
</script>
<!-- 

<button type="button" class="btn border border-dark btn-default float-sm-right" id="data_request_btn">Request Data</button>

<p id="dyn_block"> Start Content</p>
<br>
<br><br><br>
<label for="mission0">Mission Name:</label>
<input type="text", value = "", id="mission0", class="form-control float-sm-right col-md-6">

<br><br>
<label for="starttimeMin">Select Starttime</label>
<input type="text" id="starttimeMin" value="1900-01-01", class="form_datetime form-control col-md-4 float-sm-right" />
<input type="text" id="starttimeMax" value="2020-12-24", class="form_datetime form-control col-md-4 float-sm-right" />

<br><br>
<label for="stoptimeMin">Select Stoptime</label>
<input type="text" id="stoptimeMin" value="1900-01-01", class="form_datetime form-control col-md-4 float-sm-right" />
<input type="text" id="stoptimeMax" value="2020-12-31", class="form_datetime form-control col-md-4 float-sm-right" />
<br><br><br>


<label for="laditude">Laditude (use "_" instead of floating point)</label>
<input type="text" id="laditude" value="0_000", class="form_datetime form-control col-md-4 float-sm-right" />
<br><br>
<label for="longitude">Longitude (use "_" instead of floating point)</label>
<input type="text" id="longitude" value="0_000", class="form_datetime form-control col-md-4 float-sm-right" />
<br><br>

<table id="testTable" class="table table-striped">
    <thead>
        <tr class="thead-dark">
            <th>Mission</th>
            <th>Starttime</th>   
            <th>Stoptime</th>
            <th>Coordinates</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>value 1</td>
            <td>value 2</td>
            <td>value 3</td>
            <td>value 4</td>
        </tr>
    </tbody>

</table>

<p>plot start</p>
{% for plot in plots %}
    {% for part in plot %}
        {{part | safe}}
    {% endfor %}
{% endfor %} 
<p>plot end</p> -->
<div class="col-md-12">{{ script|safe }}</div>


<script type="text/javascript">
     $(function() {    
        $("#data_request_btn").click(function(){
            $("#dyn_block").html("Working");
            $.ajax({
                // it needs to be property:value NOT property=value
                // Post request because we need to send filter values
                // Mock Request works with both POST and GET
                type:'GET',
                url:"/api/filter?mission0=" + $("#mission0").val() 
                            +   "&starttimeMin=" + $("#starttimeMin").val()
                            +   "&starttimeMax=" + $("#starttimeMax").val()
                            +   "&stoptimeMin=" + $("#stoptimeMin").val()
                            +   "&stoptimeMax=" + $("#stoptimeMax").val()
                            +   "&longitude=" + $("#longitude").val()
                            +   "&latitude=" + $("#laditude").val(),
                data:{},
                contentType: 'application/json;charset=UTF-8',
                cache: false,
                success: function (data) {
                    console.log('sucessful answer received!');
                    $("#dyn_block").html(data.content);
                    $("#testTable tbody").empty();
                    $.each(data.hits.hits, function(i,item){
                        $("#testTable tbody").append(
                            "<tr>"
                                + "<td>" + data.hits.hits[i]._source.mission0 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.starttime1 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.stoptime1 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.coordinates + "</td>"
                            + "</tr>"
                        );
                    });
                },
            });
        });
    });



</script>

{% endblock %}
